<div class="jumbotron">
  <h1>TickTock</h1>
    <div class="dashboard-icon-group">
      <%= fa_icon "users 4x" %>
      <h4>Build your team</h4>
    </div>

    <div class="dashboard-icon-group">
      <%= fa_icon "file-code-o 4x" %>
      <h4>Add your projects</h4>
    </div>

    <div class="dashboard-icon-group">
      <%= fa_icon "clock-o 4x" %>
      <h4>Track your time</h4>
    </div>
</div>
