/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */
 /*
 *= require font-awesome
 */

.navbar {
  /* not supposed to use !important but time constraints exist - fix later */
  border-radius: 0 !important;
}

.centered-headline {
  text-align: center;
  padding: 20px 0px;
}

.dropdown-toggle:hover, .dropdown-open, .action-links-dropdown {
  /* not supposed to use !important but time constraints exist - fix later */
  background-color: rgba(44, 62, 80, 0) !important;
  color: #7B8A8B !important;
  text-decoration: none !important;
}

.index-table-container {
  width: 80%;
  margin: auto;
  padding-top: 100px;
}

.table-header, .table-row {
  text-align: center;
  font-size: 16px;
}

.table-cell {
  vertical-align: middle;
}
